.button-1 {
  width: 350px;
  height: 58px;
  padding: 15px 68px;
  background: yellow;
  border-radius: 30px;
  border: none;


  &:hover {
    background: #F9D100;
    cursor: pointer;
  }
}

.button-2{
  width: 350px;
  height: 58px;
  padding: 15px 68px;
  background: blue;
  color: white;
  border-radius: 30px;
  border: none;

  &:hover {
    background: darkblue;
    cursor: pointer;
  }
}

.button-3{
  width: 350px;
  height: 58px;
  padding: 15px 68px;
  border: 1px solid blue;
  border-radius: 30px;


  &:hover {
    color: blue;
    cursor: pointer;
  }
}



.button-4{
  width: 275px;
  height: 41px;
  padding: 10px 31px;
  border-radius: 30px;


  &:hover {
    color: blue;
    border-color: blue;
    cursor: pointer;
  }

}

.button-5{
  width: 350px;
  height: 58px;
  padding: 15px 68px;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  border-radius: 30px;


  &:hover {
    color: yellow;
    border-color: yellow;
    cursor: pointer;
  }
}



