.footer {
  background: #fff;
  padding: 40px 20px;
  font-size: 16px;
  color: #333;
  display: flex;
  gap: 88px;
  justify-content: center;

  &__mobile {
    display: none;
  }


  &__logo {
    flex-direction: column;
    display: flex;
    justify-content: space-between;

    img {
      width: 128px;
      height: 70px;
    }
  }

  &__row {
    display: flex;
    justify-content: center;
    gap: 80px;
  }

  &__column {
    display: flex;
    flex-direction: column;
    gap: 12px;
    min-width: 200px;
    justify-content: space-between;

    a {
      color: #333;
      text-decoration: none;

      &:hover {
        text-decoration: none;
        color: blue;
      }
    }
  }

  &__link-blue {
    color: #1A7DF0;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  &__note {
    margin-top: 16px;
    font-size: 14px;
    color: #999;

    a {
      color: #333;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 1024px) {
  .footer {
    gap: 0;

    &__row {
      gap: 0;
    }
  }
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    gap: 20px;

    &__logo {
      align-items: center;

      p {
        display: none;
      }
    }

    &__mobile {

      display: block;
      text-align: center;
      font-size: 16px;
      font-weight: 400;
      line-height: 1;
    }

    &__row {
      align-items: stretch;
      text-align: center;
    }

    &__column {
      width: 33.3%;
      min-width: auto;

      a {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
      }

      p {
        font-size: 16px;
        font-weight: 400;
        line-height: 1;
      }
    }
  }
}