.header{
  max-width: 1440px;
  margin: 0 auto;

  &-top{
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  &-top__socials{
    display: flex;
    padding: 23px 0;
    gap: 18px;
    list-style-type: none;
    cursor: pointer;
  }

  &-top__contacts{
    display: flex;
    align-items: center;
    margin: 21.5px 40px 21.5px 377px;
  }

  &-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  &-bottom__menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    gap: 40px;
    margin: 0 auto 110px;
  }


}



.logo{
  width: 128px;
  height: 70px;
  margin: 12px 60px 12px 0;
}

.contact-item1 {
  display: flex;
  align-items: center;
  gap: 10px;
}
.contact-item2 {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 35px;
  margin-right: 40px;
}



.dropdown {
  position: relative;
}

.dropdown a {
  text-decoration: none;
  padding: 15px 20px;
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  min-width: 235px;
  z-index: 1;
  list-style-type: none;
  padding: 0;
  border: 1px solid #ddd;
}

.dropdown-content li a {
  padding: 12px 16px;
  color: black;
  text-decoration: none;
  display: block;
}

.dropdown-content li a:hover {
  color: blue;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover > a {
  color: blue;
}


