.stats {
  padding: 0px;

  &__container {
    max-width: 1440px;
    margin: 0 auto;
  }

  &__desc {
    display: flex;
    gap: 20px;

  }

  &__title {
    font-size: 42px;
    ;
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
  }

  &__description,
  &__highlight {
    font-weight: 400;
    font-size: 18px;
    text-align: justify;
    flex: 1;
    line-height: 1.5;
    color: #333333;
  }

  &__highlight {
    font-weight: 700;
    font-size: 30px;
    color: #000;
    line-height: 1.3;
    flex: 1;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 60px auto;
    max-width: 1154px;
  }

  &__item {
    padding: 20px;
    text-align: center;

  }

  &__item-number {
    font-size: 42px;
    font-weight: 400;
    margin-bottom: 8px;
    color: #333333;
    line-height: 100%;
  }

  &__item-label {
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    color: #333333;
  }

  &__media {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: flex-start;
    justify-content: center;
  }

  &__video {
    flex: 0 0 695px;

    video {
      width: 100%;
      border-radius: 16px;
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    }
  }

  &__info {
    flex: 0 0 695px;
  }

  &__info-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 15px;
  }

  &__info-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 15px;
    color: #333;
  }

  &__buttons {
    display: flex;
    gap: 15px;


  }

  &__button {
    box-sizing: border-box;
    padding: 15px 68px;
    font-size: 28px;
    border-radius: 100px;
    text-decoration: none;
    font-weight: 500;
    text-align: center;
    display: inline-block;
    width: 350px;
    height: 58px;

    &--primary {
      background-color: #FFE711;
      color: #000;
    }

    &--secondary {
      background-color: #f5f5f5;
      color: #333;
      border: 1px solid #ccc;
    }
  }

  @media (max-width: 1024px) {
    .stats {

      &__video {
        flex: 0 0 680px;
      }

      &__info {
        flex: 0 0 680px;
      }


      &__desc {
        flex-direction: column;
        text-align: center;
        padding: 0 20px;
      }

      &__buttons {
        justify-content: center;
        align-items: center;
      }

      &__button {
        box-sizing: border-box;
        padding: 15px 68px;
        font-size: 28px;
        border-radius: 100px;
        text-decoration: none;
        font-weight: 500;
        text-align: center;
        display: inline-block;
        width: 350px;
        height: 58px;
      }
    }
  }

  @media (max-width: 768px) {
    padding: 0 20px;

    .stats {
      &__item-number {
        font-size: 28px;
        font-weight: 400;
        margin-bottom: 5px;
        color: #333333;
        line-height: 100%;
      }

      &__item-label {
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
        color: #333333;
      }

      &__video {
        flex: 0 0 500px;
      }

      &__info {
        flex: 0 0 500px;
      }

      &__buttons {
        max-width: 500px;
        justify-content: center;
        align-items: center;
      }

      &__button {
        width: 222px;
        font-size: 20px;
        padding: 15px 15px;
      }

      &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  @media (max-width: 500px) {
    padding: 0px 20px;

    .stats {
      &__item-number {
        font-size: 28px;
        font-weight: 400;
        margin-bottom: 5px;
        color: #333333;
        line-height: 100%;
      }

      &__item-label {
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
        color: #333333;
      }

      &__info {
        flex: 0 0 480px;
      }

      &__video {
        flex: 0 0 480px;
      }

      &__buttons {
        max-width: 460px;
        justify-content: center;
        align-items: center;
      }

      &__button {
        width: 222px;
        font-size: 20px;
        padding: 15px 15px;
      }
    }
  }
}