
@import "normalize";
@import "footer";
@import "header";
@import "news";
@import "footer";
@import "projects";
@import "contacts";
@import "our-team";
@import "who-we-are";
@import "statistics";
@import "partners";
@import "typography";
@import "banner";
@import "button";
@import "running-line";
@import "hub";


body {
  overflow-x: hidden;
  background-image: url('https://github.com/serg050889/practice/blob/main/img/bg.png?raw=true');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
}
