html {
    .hedline-1   {
        color: red;
        font-size: 20px;
    }


    .KE2 {
        color: red;
        font-size: 20px;

        h1 {
            color: blue;

            #lol {
                color: green;
            }
        }
    }
}